body {
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #818181;
}

.showbox {
	max-height: 60vh;
	position: relative;
	overflow: hidden;
}
.showbox img {
	width: 100%;
	object-position: center;
	object-fit: contain;
}

.imgOverLay {
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.247);
	display: flex;
}

.imgOverLay {
	color: white;
	margin: auto;
}

.imgOverLay h3 {
	font-size: 1.6rem;
	font-family: 'Righteous', cursive;
}

.bg-black {
	font-family: 'Righteous', cursive;
	background: black;
	font-size: 2rem;
	color: #bf9f62;
	padding: 0.5em 0;
	margin-bottom: 4rem;
}

.about {
	margin-bottom: 2em;
}

.title {
	font-size: 2rem;
	font-family: 'Righteous', cursive;
}

.txt {
	font-size: 1.2rem;
	line-height: 2rem;
}

.areas {
	margin-bottom: 1.9rem;
}

.areas:last-child {
	margin-bottom: 2.5rem;
}

.specialty {
	font-size: 1.2rem;
}

.teamBox {
	text-decoration: none;
	color: #818181;
	font-size: 1.2rem;
	text-transform: capitalize;
	text-align: left;
	display: flex;
	padding: 1rem;
	box-shadow: 0 0 10px rgba(128, 128, 128, 0.247);
}

.teamBox h3 {
	text-transform: uppercase;
	font-family: 'Righteous', 'cursive';
	padding-top: 10px;
}

.teamBox:hover,
.teamBox:active,
.teamBox:visited {
	text-decoration: none;
	color: #717171;
}

.teamBox:hover {
}

.bg-gold {
	background-color: #bf9f62;
}

.train {
	padding: 0.9em;
	margin-top: 2rem;
	text-align: center;
	color: white;
	font-size: 1.3rem;
	font-weight: 600;
}

.train:nth-of-type(div) {
	margin: 1rem auto;
}

.btn-gold {
	padding: 0.5em 1em;
	background-color: white;
	color: #bf9f62;
}

.train-box {
	margin: 1.9rem auto;
}

.gmap_canvas,
.maprouter {
	width: 100%;
}

.map {
	position: relative;
}

.mapoverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.514);
}

iframe {
	width: 100%;
	height: auto;
}

footer {
	background-color: black;
	font-size: 1.1rem;
}

footer .container {
	padding: 2rem;
}

footer a {
	color: #818181;
}
footer a:hover {
	color: #bf9f62;
	text-decoration-color: #bf9f62;
}

.copyright {
	text-align: center;
	padding: 0.8rem 0;
	color: white;
}

.about-txt {
	padding: 1rem;
}
.about-txt p {
	font-size: 1.2rem;
}

.modal-dialog {
	max-width: 1360px;
}

.teamBox button {
	width: 100%;
	background-color: white;
	border: 2px #bf9f62 solid;
	color: #bf9f62;
	transition: 0.2s linear;
	padding: 1rem 0.5rem;
}

.teamBox button:hover {
	background-color: #bf9f62;
	color: white;
	border: none;
}

@media screen and (min-width: 450px) {
	body {
		font-size: 1.5em;
	}
	.bg-black {
		padding: 1.5em 0;
		/* margin-bottom: 5em; */
	}

	.bg-black h3 {
		font-size: 3rem;
	}
	.txt {
		font-size: 1.6rem;
		line-height: 1.8em;
	}
	.title {
		font-size: 2.5rem;
	}

	.imgOverLay h3 {
		font-size: 3em;
	}

	.about:first-child {
		margin-top: 3em;
	}
	.about:last-child {
		margin-bottom: 5em;
	}

	.bg-dynamic {
		padding: 4rem;
	}

	.areas .specialty {
		font-size: 1.7rem;
		display: flex;
		box-shadow: 0 0 10 gray;
		text-align: center;
		align-content: space-between;
	}

	.specialty i {
		padding: 1rem;
		font-size: 3rem;
		font-weight: lighter;
	}
	.specialty p {
		padding: 1rem;
	}

	iframe {
		height: 500px;
	}

	.about-txt {
		padding: 0 1rem;
	}

	.about-txt p {
		font-size: 1.7rem;
		text-align: justify;
	}
}
